---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Ivan Trajanovski"
  description="About Ivan Trajanovski Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <!-- <img
          width="1553"
          height="873"
          src="/assets/por.jpg"
          alt="Ivan Trajanovski at work with a colleague"
        /> -->
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            Welcome to my corner of the digital world! I'm Ivan, a Computer
            Science Engineering graduate with a passion for crafting beautiful
            and functional mobile applications. My journey in the tech industry
            began with a role as a Data Scientist, where I honed my analytical
            skills and learned to derive insights from data. While I enjoyed the
            world of data, my heart has always been drawn to the creative realm
            of mobile app development.
          </p>
          <p>
            I've since transitioned into the exciting world of iOS and Android
            app development, where I bring my technical expertise and creative
            flair together to build user-friendly and visually captivating apps.
            My goal is to create mobile experiences that not only meet user
            needs but also leave a lasting impression.
          </p>
          <p>
            Whether you have a unique app concept, need assistance with
            enhancing an existing project, or require technical expertise in the
            realm of mobile app development, I'm here to collaborate and bring
            your vision to life. Feel free to reach out, and let's explore how
            we can work together to make your mobile app dreams a reality.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>Bachelor's in Computer Science Engineering.</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>Flutter | iOS | Android | Web Development</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
